* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #c3c3c3;
}

canvas {
    width: 40%;
    display: block;
    background-color: black;
    margin: 10px auto;
} 

#up, #left, #down, #right {
    padding: 5px 15px;
    margin: 1px;
    border: none;
    border-radius: 5px;
    background-color: #D61355;
    color: #FFFBEB;
    
}